@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,li,dd,dt,th,td,input,textarea,select,option,fieldset,legend,hr,button{
	margin:0;
	padding:0;
}
html{
    height: 100%;
}
body{
    font-size:12px "微软雅黑";
    height: 100%;
}
li{
	list-style:none;
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
}
i,em{
	font-style:normal;
}
a{
	text-decoration:none;
	color:none;
}
input,textarea,button{
	outline:none;
	border: none;
}
table{
	border-collapse: collapse;
}
.clear:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
 }
 img{
 	display: block;
 	border: none;
 }
